.loader-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: white;
  opacity: 0.85;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  font-size: 2rem;
}

.loader-overlay span {
  font-size: 2rem;
  animation: rotate 0.7s infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
div#root {
  height: 100%;
  width: 100%;
}